/* Coolors Exported Palette - coolors.co/f1e4b2-2d2c2d-66a182-61bccc-48392a */

/* HSL */
$color1: hsla(48%, 69%, 82%, 1);
$color2: hsla(300%, 1%, 17%, 1);
$color3: hsla(148%, 24%, 52%, 1);
$color4: hsla(189%, 51%, 59%, 1);
$color5: hsla(30%, 26%, 22%, 1);

/* RGB */
$color1: rgba(241, 228, 178, 1);
$color2: rgba(45, 44, 45, 1);
$color3: rgba(102, 161, 130, 1);
$color4: rgba(97, 188, 204, 1);
$color5: rgba(72, 57, 42, 1);