
/* Global type styles */

body {
	background-color: rgb(247, 247, 237);
	display: flex;
	min-height:100vh;
	flex-direction: column;
}


section {
	margin-top: 50px;
}



h4, p, li a{
	font-family: "usual",sans-serif;
	font-style: normal;

}


h4 {
	font-weight: 700;
}


p {
	font-weight: 400;
}

h1, h2, h3, ul li.navLabel a {
	font-family: "vinyl",sans-serif;
	font-style: normal;
}


label, input {
	font-size: 14px;
	font-family: "usual",sans-serif;
	font-style: normal;

}


legend {
	font-family: "usual",sans-serif;
	font-style: normal;
	font-weight: 700;
}

.documentLink {
	font-family: "usual",sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 20px 0px;
	color: rgba(97, 188, 204, 1);

}

fieldset {
	padding: 0px;
	width: auto;
	margin: 0px 10px;
}

.documentLink a {
	color: #66A182;
	text-decoration: none;
}

.documentLink a:hover {
	color: rgb(70, 105, 119)
}

.documentLink a:visited {
	color: rgb(62, 110, 130)
}

/*------Global Mobile font sizes---------*/
h1 {

	font-size: 42px;
	line-height: 52px;
	margin: 0px 0px 60px 0px;
}

h1 .sec_headline {
		font-size: 42px;
	line-height: 52px;
	margin: 0px 0px 60px 0px;
}

h2 {
	font-size: 34px;
	line-height: 44px;
	margin: 0px 0px 50px 0px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
	margin: 0px 0px 20px 0px;
}

h4 {
	font-size: 14px;
	line-height: 16px
}


p {
	font-size: 12px;
	line-height: 20px;
}
/*------Gloabl Button Style------*/

button {
	border-radius: 25px;
	padding: 10px 50px;
	display: flex;
	justify-content: center;
	border: none;
	margin: 50px;
}

button p {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}

button a {
	text-decoration: none;

}







/*--------CSS Mixins--------*/

.shamrock {
	background-color: #66A182;
}

.shamrock:hover {
	background-color: rgb(62, 110, 130);
}


.cremecopy {
	color: rgba(241, 228, 178, 1);
}

.creme {
	background-color: rgba(241, 228, 178, 1);
}


.blue {
	background-color: rgba(62, 110, 130);

}

/*------------------Global Page elements----------------
********************************************************
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.container {
	margin: 50px;
}

.formwrapper {
	padding: 5% 2.5% 2.5% 2.5%;
	margin: 100px 0px 0px 0px;

}

.darkGreyOverlay {
	display: flex;
	flex-direction: column;
	background-color: rgba(45, 44, 45, .87);
	width: 100%;
	
}


.whiteOverlay {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .87);
	width: 100%;
}

.headline_rule{
	border-bottom: 1px solid rgb(209, 209, 200);
}


input, textarea {
		padding: 20px;
		border-radius: 3px;
		border: 1px solid rgb(209, 209, 200);
		box-sizing: border-box;
		height: 30px;
	}


.documentLink {
	display: flex;
	flex-direction: column;
}


/*--------------Global Nav--------------
****************************************
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

header {
	
	display: flex;
	flex-direction: column;
	align-items: 
	justify-content: space-between;
	order: 0;
}

/*---Branding-----*/
#navLogo {
	order: 0;
	align-items: center;
	justify-content: space-between;
	display: flex;
	background-color: rgba(45, 45, 44, .95);


}

#navLogo img {
	box-sizing: border-box;	
	padding: 10px 20px;
	width: 58%;

}
.mobile_dropdown {
		background-color: rgba(45, 45, 44, .87);
		padding: 20px 80px;
		margin: 0px;
		box-sizing: border-box;

}




/*-----Hamburger Menu---------*/
#hamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    z-index: 999;
}


.bar1, .bar2, .bar3 {
	width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #F1E4B2;
    margin: 6px 20px 0 0;
    transition: 0.4s;
}


ul li.navLabel a {
	font-size: 20px;
	color: #F1E4B2;
	text-decoration: none;
	
}

#menuItems {
	display: flex;
	flex-direction: column;
	
}

li.navLabel {
	list-style: none;
	display: flex;
	align-items: center;
	letter-spacing: .5px;
	text-transform: uppercase;
	margin: 20px 0px;
}
.mobile_dropdown {
	display: none;
}



/*--------------Home page elements--------------
************************************************
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	order: 1;
	margin: 0px;
	width: 100%;
	}


#overlayHome{
	background-color: rgba(45, 44, 45, .8);
	z-index: 9;
	position: absolute;
	height: 700px;
}

#studioPan {
	/*background-image: url("../images/Controlroom_hero.jpg");*/
	/*background-repeat: none;
*/	/*background-size: cover;*/
	display: flex;
	justify-content: center;
	overflow: hidden;
	transform: translate3d(0px, 0px, 0);
	transition: transform .8s cubic-bezier(.45,1,.52,1.18);

}


#mainCTA {
	justify-content: center;
    align-items: center;
    /* align-self: stretch; */
    flex-direction: column;
    /* flex-basis: 1080px; */
    display: flex;
    z-index: 99999;
    position: absolute;
}


.scrollSpace {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scrollSpace h4 {
	text-align: center;
	color: #F1E4B2;
}

.scrollSpace img {
	width: 30px;
	margin: 10px auto;
}

.enterSite {
	justify-content: center;
	display: flex;
}

/*-----footer---------*/
footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	order: 4;
	border-width: 1px 0px 0px 0px;
	border-color: rgba(45, 45, 44, .2);
	border-style: solid;
}


footer p {
	text-align: center;
	font-size: 11px;
	line-height: 16px;
}

.socialIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

}



.socialIcons img {
	text-decoration: none;
	width: 25px;
	display: flex;
	justify-content: center;
	padding: 10px 5px;
}


.socialIcons li {
	list-style: none;
/*	align-content: center;
	justify-content: center;*/

}

/*---------------Book a session Page-----------------
<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>
----------------------------------------------------*/


/*Select Service*/

	#services {
		display: flex;
		flex-direction: column;
		margin: 25px 0px 50px 0px;
	}


	.mixing, .mastering, .recording{
		display: flex;
		justify-content: center;
		flex-direction: column;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}





	.mixing h4 {
		text-align: center;
		padding: 5px;
		color: rgb(72 57 42);
	}




	.soundboard {
		width: 120px;
		justify-content: center;
		padding: 10px;
		margin: auto;
	}

	.mastering h4 {
		text-align: center;
		padding: 5px;
		color: rgba(72, 57, 42, 1); 
	}

	.soundwave {
		width: 120px;
		justify-content: center;
		padding: 10px;
		margin: auto;
	}

	.recording h4{
		padding: 5px;
		text-align: center;
	}


	.microphone {
		width: 120px;
		justify-content: center;
		padding: 10px;
		margin: auto;
	}

	.soundboard_active {
		display: none;
	}


	.submitBttn, .booksesBttn {
		margin: 50px auto;
	}

	form {
		display: flex;
		flex-direction: column;
	}


	label {
		margin-bottom: 20px;
	}

	#name, #start_date, #end_date{
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	
	fieldset, #payPalButton {
		display: flex;
		flex-direction: column;
		margin: 10px 0px 20px 0px;
	}

	#nameField, #startdate_field, #enddate_field{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
	}

	#reserve {
		display: flex;
		margin: 0px;

	}

	#resContact {
		display: none;
		margin: 0px 40px;
		box-sizing: border-box;

	}


	#payPalButton {
	border-radius: 20px;
	padding: 10px 50px;
	border: none;
	color: white;
	background-color: #0070ba;
	margin: 50px auto;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;

	}

/*---------------About page-----------------
<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>
----------------------------------------------------*/

.booksesBttn .shamrock a, .booksesBttn p{
	color: #F1E4B2;

}


/*-----------------Gallery Images-------------------*/



/*
--------------------iPad------------------
***********************************************
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
--------------------------------------------

	@media screen and (min-width: 1025px)*/

/*--------------------DESKTOP------------------
***********************************************
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
--------------------------------------------*/

@media screen and (min-width: 1025px) {
	  header {
	  	display: flex;
	  	flex-direction: row;
	  	justify-content: space-between;
	  	background-color: rgba(45, 45, 44, .95);
	  }


	#overlayHome {
		    background-color: rgba(45, 44, 45, .8);
		    z-index: 9;
		    position: absolute;
		    width: 100%;
		    height: 700px;
		    transition: opacity;
	}


	#studioPan {
		width: 100%;
		height: 700px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		flex-direction: column;
		
	}



	#panoimage {
		position: relative;
		margin: 0px;
		transform: translate3d(0px, 0px, 0);
		transition: transform .8s cubic-bezier(.45,1,.52,1.18);
		background-repeat: repeat-x;
		
	
}


#studioPan::before {
	position: absolute;
	background-color: rgba(45, 45, 44, .9);


}

/*--------------Nav-------------*/
	  header {
	  	height: 100px;
	  	z-index: 999;
	  }


	  #hamburgerMenu {
	  	display: none;
	  }





	  #navLogo {
	  	flex-basis: 120px;
	  	background-color: transparent;
	  }
  
	#navLogo img {
		width: 100%;
	}

	.mobile_dropdown {
			background-color: transparent;
			margin: 0px;
			display: flex;
			justify-content: flex-end;
			padding: 20px 30px;
		}

	.navLabel {
		justify-content: space-between;
		padding: 0px 20px;
	}


	 #menuItems {
	    display: flex;
	    align-content: center;
	    align-items: center;
	    flex-direction: row;
	    background-color: transparent;
	  }


	  main {
	    flex-direction: row;

	  }

	.sec_headline {
		border-bottom: 1px solid rgb(226, 226, 220)

	}

/*Reservation form*/
	form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	label {
		margin-bottom: 20px;
	}

	
	

	#nameField{
		width: 400px;
	}


	#name, #start_date {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}


	#end_date {
		display: flex;
		flex-direction: column;
	}


		/*------Global Desktop font sizes---------*/
	p {
		font-size: 14px;
		line-height: 30px;
	}

	h1 {

		font-size: 54px;
		line-height: 64px;
	}

	h2 {
		font-size: 42px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 16px;
	}

	#studioPan {
		flex-grow: 5;
	}


	ul li.navLabel a {
		font-size: 17px;
	}

	label, input, legend {
	font-size: 16px;

	}

	legend {
		font-size: 16px;
		line-height: 26px;

	}



/*---------------Book a session Page-----------------
<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>
----------------------------------------------------*/


/*Select Service*/

	#services 
	{
		display: flex;
	    margin: 40px 40px 100px 40px;
	    flex-direction: row;
	    justify-content: space-between;
	    box-sizing: border-box;
	}


	.mixing, .mastering, .recording{
		display: flex;
		flex-direction: column;
		cursor: pointer;
	    -webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		box-sizing: border-box;
	}


	.soundboard{
		justify-content: center;
		padding: 0px;
	}


	.mixing h4 {
		text-align: center;
		padding: 10px;

	}




	.soundwave {
		justify-content: center;
		padding: 0px;
	}

	.mastering h4 {
		text-align: center;
		padding: 10px;
	}

	.microphone {
		justify-content: center;
		padding: 0px;
	}

	.recording h4{
		text-align: center;
		padding: 10px;
	}


/*---------------About Studio------------------------
<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>
----------------------------------------------------*/

	#hero {
		display: flex;
		order: 1;
	}


	
	.twoColumn {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}


	#heroSec {
		display: flex;
		justify-content: space-between;
	}


	/*-----------------Gallery Images-------------------*/
	.gallery {
		display: flex;
		justify-content: flex-end;
		margin: 0px 0px 0px 70px;
		flex-direction: column;

		}

	.controlRoom {
	  width:300px;
	  height:300px;
	  background-image: url('../images/console_thumb.jpg');
	  background-repeat: no-repeat;
	  background-size: 300px auto;
	  margin: 10px;
	  background-color: rgba(45, 44, 45, .8);
	  background-blend-mode: multiply;
	  cursor: pointer;
/*	  transition-duration: .75s;
	  transition: cubic-bezier(.3,.06,.48,.75);*/

	}

	.liveRoom {
	  width:300px;
	  height:300px;
	  background-image: url('../images/liveroom_thumb.jpg');
	  background-repeat: no-repeat;
	  background-size: 300px auto;
	  margin: 10px;
	  background-color: rgba(45, 44, 45, .8);
	  background-blend-mode: multiply;
	  cursor: pointer;

	}




/*	.liveRM a:hover {
	  background-color: rgba(45, 44, 45, .8);
	  background-blend-mode: multiply;
	  transform:scale(1.5,1.5);

	}*/



	.overlayTitle{
		font-size: 18px;
		font-family: "usual",sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		color: rgba(241, 228, 178, 1);
		cursor: pointer;
	}


/*-------------------Modals--------------------*/
	     #modalOne, #modalTwo{
	     	display: none;

	     }
	


		

		
		.modalTitle {
	    margin: 25px auto;
	    max-width: 1000px;
	    width: auto;
	    display: flex;
	    justify-content: space-between;

		}

		.modal_photoTitle {
			color: rgba(241, 228, 178, 1);

		}




		.modalHeader {
			display: flex;
			justify-content: flex-start;

		}



		.close {
			font-size: 26px;
			color: rgba(241, 228, 178, .8);
			cursor: pointer;

		}

		.controlroomPic, .liveroomPic {
			justify-content: center;
			display: flex;
			flex-direction: column;
			width: auto;
			max-width: 1000px;
			margin: auto;
			z-index: 9999;
			display: flex;
		}

		.modalOverlay {
			background-color: rgba(45, 44, 45, .93);
			background-repeat: no-repeat;
			background-position: center;
			position: fixed;
			margin: auto;
			width: 100%;
			height: 100vh;
			overflow: auto;
			order: 0;
			z-index: 999;
			padding-top: 100px;

		}



/*---------------Contact Us---------------------------
<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>
----------------------------------------------------*/
	#contactForm {
		justify-content: center;
		align-content: center;
	}



	#fullNameField, #yourEmail, #yourPhone, #yourMessage{
		width: 700px;
		height: auto;
		background-color: rgba(241, 228, 178, 1);
	}


	#fullnameField, #emailField, #phoneField, #messageField {
		align-content: space-between;
		margin: 50px 0px;
		color: rgba(72, 57, 42);
		border-color: rgba(72, 57, 42, 1);

	}

	#fullnameField label, #emailField label, #phoneField label, #messageField label {
		color: rgba(72, 57, 42, 1);
	}


	::placeholder, label {
			color: rgba(72, 57, 42, 1);
			
		}

		input {
			border-color: rgba(72, 57, 42, 1);
		}

		textarea {
			border-color: rgba(72, 57, 42, 1);
		}





/*Closing tag for media query*/
}
